
@{
    ViewData["Title"] = "Calender";
    @using System.Globalization;
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/lib/calender.js/CalendarJsStyle.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/calender.js/CalendarJsTheme.css" />

}

<div id="calendar" class="noselect">
</div>
<div id="calendar-modal" class="" >
    <form id="ScheduleTaskForm">
        <div class="form-group">
            <label for="cron-task-name">Task Name</label>
            <input type="text" class="form-control" id="cron-task-name" name="cron-task-name" aria-describedby="emailHelp" placeholder="Task Email">
        </div>
        <div class="form-group">
            <hr />
            <label class="align-self-center text-center" for="cron-output">Task Schedule</label>
            <div class="form-row cron-container">
                <div class="cron-items">
                    <h6>Hours</h6>
                    <select multiple="multiple" size="7" class="form-control form-" id="cron-hours" name="cron-hours" onchange="updateField('hours')">
                        @for (int i = 0; i < 24; i++)
                        {
                            <option selected="selected" value="@i">
                                @{if (i < 10)
                                    { <p>0</p>@i }
                                else
                                {@i}}
                            </option>
                        }
                    </select>
                    <div class="mt-1">
                        <a class="btn-sm  btn-primary" href="javascript:cronHelperSelectAll('#cron-hours')">select all</a>
                    </div>
                </div>
                <div class="cron-items">
                    <h6>Minutes</h6>
                    <select multiple="multiple" size="7" class="form-control" id="cron-minutes" name="cron-minutes" onchange="updateField('minutes')">
                        @for (int i = 0; i < 60; i++)
                        {
                            <option selected="selected" value="@i">
                                @{if (i < 10)
                                    { <p>0</p>@i }
                                else
                                {@i}}
                            </option>
                        }
                    </select>
                    <div class="mt-1">
                        <a class="btn-sm  btn-primary" href="javascript:cronHelperSelectAll('#cron-minutes')">select all</a>
                    </div>
                </div>

                <div class="cron-items">
                    <h6>Days in Month</h6>
                    <select multiple="multiple" size="7" class="form-control" id="cron-dim" name="cron-dim" onchange="updateField('dim')">
                        @for (int i = 0; i < 60; i++)
                        {
                            <option selected="selected" value="@i">
                                @{if (i < 10)
                                    { <p>0</p>@i }
                                else
                                {@i}}
                            </option>
                        }
                    </select>
                    <div class="mt-1">
                        <a class="btn-sm  btn-primary" href="javascript:cronHelperSelectAll('#cron-dim')">select all</a>
                    </div>
                </div>
                <div class="cron-items">
                    <h6>Months</h6>
                    <select multiple="multiple" size="7" class="form-control" id="cron-months" name="cron-months" onchange="updateField('months')">
                        @{
                            int count = 1;
                            for (int i = 0; i < 12; i++)
                            {
                                <option selected="selected" value="@count ">@DateTimeFormatInfo.CurrentInfo.MonthNames[i]</option>
                                count++;
                            }
                        }
                    </select>
                    <div class="mt-1">
                        <a class="btn-sm  btn-primary" href="javascript:cronHelperSelectAll('#cron-months')">select all</a>
                    </div>
                </div>
                <div class="cron-items">
                    <h6>Days in Week</h6>
                    <select multiple="multiple" size="7" class="form-control" id="cron-days" name="cron-days" onchange="updateField('diw')">
                        @{
                            for (int i = 0; i <= 6; i++)
                            {
                                <option selected="selected" value="@i">@DateTimeFormatInfo.CurrentInfo.DayNames[i]</option>
                            }
                        }
                    </select>
                    <div class="mt-1">
                        <a class="btn-sm  btn-primary" href="javascript:cronHelperSelectAll('#cron-days')">select all</a>
                    </div>
                </div>
            </div>


            <div class="mt-4">
                <input class="form-control" type="text" id="cron-output" name="cron-output" value="* * * * *" onkeyup="importCronExpressionFromInput('#cron-output')">
                <small id="cron-expression-desc"></small>
            </div>
            <hr />
        </div>
        <div class="">
            <label class="" for="exampleCheck1">Check me out</label>
            <textarea type="text" class="form-control" id="cron-description" rows="4" name="cron-discription"></textarea>
        </div>
            
        <button type="submit" class="btn btn-primary" id="SubmitTask" >Submit <i class="far fa-paper-plane"></i></button>
    </form>
</div>


@section Scripts{
    <script src="https://unpkg.com/cronstrue@latest/dist/cronstrue.min.js" async></script>
    <script>
        var cronstrue = window.cronstrue;
    </script>
    <script src="~/lib/fontawesome/js/all.min.js" type="text/javascript"></script>
    <script src="~/lib/calender.js/Calendar.js" type="text/javascript"></script>
    <script src="~/js/CalenderScript.js" type="text/javascript"></script>
    <script src="~/js/CronExpressionGenrator.js" type="text/javascript"></script>
}
